In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows
pd.set_option('display.width', None)        # No width limit
pd.set_option('display.max_colwidth', None) # Show full column content
pd.set_option('display.float_format', '{:.2f}'.format)  # Format floats to 2 decimals

In [21]:
df_all_temp = {}
for dataset in ['Culture_Cleaned','Carburant_Cleaned','EducationCount_Cleaned','TransportCount_Cleaned','LoyerT1T2_Cleaned','metropoleetbanlieues_liste','DVF_Cleaned']:
    chunks = pd.read_csv('../DataCleaned/'+dataset+'.csv', chunksize=1000000, low_memory=False, sep=",")
    for chunk in chunks :
        df_all_temp[dataset] = chunk
        break

df_all_temp['Culture_Cleaned']['Code_Postal'] = df_all_temp['Culture_Cleaned']['Code_Postal'].astype(str).str.zfill(5)
df_all_temp['Carburant_Cleaned']['code_postal'] = df_all_temp['Carburant_Cleaned']['code_postal'].astype(str).str.zfill(5)
df_all_temp['metropoleetbanlieues_liste']['0'] = df_all_temp['metropoleetbanlieues_liste']['0'].astype(str).str.zfill(5)
df_all_temp['EducationCount_Cleaned']['CodePostal'] = df_all_temp['EducationCount_Cleaned']['CodePostal'].astype(str).str.zfill(5)
df_all_temp['DVF_Cleaned']['code_postal'] = df_all_temp['DVF_Cleaned']['code_postal'].astype(str).str.zfill(5)

df_all = df_all_temp['Culture_Cleaned'].merge(df_all_temp['Carburant_Cleaned'], left_on="Code_Postal", right_on="code_postal")
df_all_temp.pop('Culture_Cleaned')
df_all_temp.pop('Carburant_Cleaned')
df_all = df_all.merge(df_all_temp['metropoleetbanlieues_liste'], left_on="Code_Postal", right_on="0", how='left')
df_all_temp.pop('metropoleetbanlieues_liste')
df_all = df_all.merge(df_all_temp['EducationCount_Cleaned'], left_on="Code_Postal", right_on="CodePostal", how='left')
df_all_temp.pop('EducationCount_Cleaned')
df_all['Département'] = df_all['CodePostal'].apply(lambda x : str(x).zfill(5)).str[:2]
df_all_temp['TransportCount_Cleaned'] = df_all_temp['TransportCount_Cleaned'].astype(str)
df_all = df_all.merge(df_all_temp['TransportCount_Cleaned'], left_on="Département", right_on="CodePostal", how='left')
df_all_temp.pop('TransportCount_Cleaned')
df_all = df_all.merge(df_all_temp['LoyerT1T2_Cleaned'], left_on="Département", right_on="Département", how='left')
df_all_temp.pop('LoyerT1T2_Cleaned')
df_all = df_all.merge(df_all_temp['DVF_Cleaned'], left_on="Code_Postal", right_on="code_postal", how='left')
df_all_temp.pop('DVF_Cleaned')
df_all['CodePostal'] = df_all['Code_Postal'].apply(lambda value: str(value).zfill(5))


df_all.to_csv('../DataAll/Dataset.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code_Postal     4412 non-null   object
 1   CultureCount    4412 non-null   int64
 2   code_postal     4412 non-null   object
 3   prix_gazole     4373 non-null   float64
 4   prix_sp95       2417 non-null   float64
 5   prix_e85        2501 non-null   float64
 6   prix_gplc       1108 non-null   float64
 7   prix_sp98       4016 non-null   float64
 8   prix_e10        3687 non-null   float64
 9   totmean         4381 non-null   float64
 10  0               397 non-null    object
 11  CodePostal      4409 non-null   object
 12  EducationCount  4409 non-null   float64
 13  Département     4412 non-null   object
dtypes: float64(8), int64(1), object(5)
memory usage: 482.7+ KB
None
Index(['Code_Postal', 'CultureCount', 'code_postal', 'prix_gazole',
       'prix_sp95', 'prix_e85', 'prix_gplc', 'prix_sp98', 'prix_e10',
       'totmean', '0', 'CodePostal', 'EducationCount', 'Département'],
      dtype='object')
   CodePostal  TransportCount
0           1            4626
1           2            5033
2           3            3802
3           4            1811
4           5            3240
------------------------------------------------
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843905 entries, 0 to 843904
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code_Postal                843905 non-null  object
 1   CultureCount               843905 non-null  int64
 2   code_postal_x              843905 non-null  object
 3   prix_gazole                840403 non-null  float64
 4   prix_sp95                  528960 non-null  float64
 5   prix_e85                   570771 non-null  float64
 6   prix_gplc                  318409 non-null  float64
 7   prix_sp98                  788204 non-null  float64
 8   prix_e10                   732706 non-null  float64
 9   totmean                    841861 non-null  float64
 10  0                          90390 non-null   object
 11  CodePostal_x               843708 non-null  object
 12  EducationCount             843708 non-null  float64
 13  Département                843905 non-null  object
 14  CodePostal_y               659897 non-null  object
 15  TransportCount             659897 non-null  object
 16  Loyerm2Mean                832026 non-null  float64
 17  nature_mutation            840711 non-null  object
 18  valeur_fonciere            834404 non-null  float64
 19  code_postal_y              840711 non-null  object
 20  surface_reelle_bati        325805 non-null  float64
 21  nombre_pieces_principales  449812 non-null  float64
 22  type_local                 450367 non-null  object
 23  longitude                  816020 non-null  float64
 24  latitude                   816020 non-null  float64
 25  date_mutation              840711 non-null  object
 26  CodePostal                 843905 non-null  object
dtypes: float64(14), int64(1), object(12)
memory usage: 173.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843905 entries, 0 to 843904
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code_Postal                843905 non-null  object
 1   CultureCount               843905 non-null  int64
 2   code_postal_x              843905 non-null  object
 3   prix_gazole                840403 non-null  float64
 4   prix_sp95                  528960 non-null  float64
 5   prix_e85                   570771 non-null  float64
 6   prix_gplc                  318409 non-null  float64
 7   prix_sp98                  788204 non-null  float64
 8   prix_e10                   732706 non-null  float64
 9   totmean                    841861 non-null  float64
 10  0                          90390 non-null   object
 11  CodePostal_x               843708 non-null  object
 12  EducationCount             843708 non-null  float64
 13  Département                843905 non-null  object
 14  CodePostal_y               659897 non-null  object
 15  TransportCount             659897 non-null  object
 16  Loyerm2Mean                832026 non-null  float64
 17  nature_mutation            840711 non-null  object
 18  valeur_fonciere            834404 non-null  float64
 19  code_postal_y              840711 non-null  object
 20  surface_reelle_bati        325805 non-null  float64
 21  nombre_pieces_principales  449812 non-null  float64
 22  type_local                 450367 non-null  object
 23  longitude                  816020 non-null  float64
 24  latitude                   816020 non-null  float64
 25  date_mutation              840711 non-null  object
 26  CodePostal                 843905 non-null  object
dtypes: float64(14), int64(1), object(12)
memory usage: 173.8+ MB
None

In [21]:
chunks = pd.read_csv('../DataAll/Dataset.csv', chunksize=1000000, low_memory=False, sep=",")
# Display settings to show full output
chunk_list = []
for chunk in chunks:
    print("Processing a new chunk...")
    df1 = pd.DataFrame(chunk)
    chunk_list.append(df1)
    break
# Concatenate all chunks into a single DataFrame
dvf = pd.concat(chunk_list, ignore_index=True)
print(dvf['TransportCount'].describe())

Processing a new chunk...
count   0.00
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: TransportCount, dtype: float64